td {font-size:9px;}
th {font-size:9px;}
label {font-size:9px;}
.smallfont {font-size:9px;}
.leftfloat {
	float:left;
}
.pagelengthstyle{
	margin-top:3px;
	margin-right:20px;
}
.pagestyle{
	font-size:9px;
}
.rightfloat {float:right;}
.btn{
	padding: 2px 2px;
}