<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
    <!-- 指定映射文件 -->  
    <mappers>  
        <mapper resource="mybatis/support/userMapper.xml" />
        <mapper resource="mybatis/support/deptMapper.xml" />
        <mapper resource="mybatis/codeclassMapper.xml" />
        <mapper resource="mybatis/codeMapper.xml" />
        <mapper resource="mybatis/codegenMapper.xml" />
        <mapper resource="mybatis/qti/questionMapper.xml" />
    </mappers>  
</configuration>
